[submodule "git_repo_for_testing_git_lib_submodule_1"]
	path = git_repo_for_testing_git_lib_submodule_1
	url = git@github.com:SiteNetSoft/git_repo_for_testing_git_lib_submodule_1.git
[submodule "git_repo_for_testing_git_lib_submodule_2"]
	path = git_repo_for_testing_git_lib_submodule_2
	url = git@github.com:SiteNetSoft/git_repo_for_testing_git_lib_submodule_2.git
